.item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   min-height: 25px;
   padding: 15px 0;
   font-style: italic;
   color: rgb(63, 40, 40);
}

@media screen and (min-width: 1280px) {
   .item {
      flex-direction: row;
      padding: 20px 0;
   }
}

.item:not(:last-child) {
   border-bottom: 1px solid rgb(119, 119, 119, .5);

}

.itemContact {
   display: flex;
   justify-content: space-between;
   width: 260px;
   margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
   .itemContact {
      width: 300px;
   }
}

@media screen and (min-width: 1280px) {
   .itemContact {
      width: 280px;
      margin-bottom: 0;
      margin-right: 20px;
   }
}

.itemText {
   overflow: hidden;
   padding: 0 3px;
}

.itemText:not(:last-child) {
   margin-right: 10px;
}

.btnWrapper {
   margin-left: auto;
}


.btnLink {
   text-decoration: none;
   margin-right: 10px;
}