.container {
   margin: 0 auto;
   min-height: 150px;
   background-color: #b39e9e;
   border-radius: 10px;
   box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
}

@media screen and (min-width: 380px) {
   .container {
      width: 320px;
      padding: 0;
   }
}

@media screen and (min-width: 768px) {
   .container {
      width: 340px;
      padding: 10px;
   }
}

@media screen and (min-width: 1280px) {
   .container {
      width: 500px;
      padding: 20px;
   }
}