.Overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 1200;
}

.Modal {
   position: relative;
   background-color: #b39e9e;
   width: 320px;
   height: 230px;
   border-radius: 10px;

}

@media screen and (min-width: 768px) {
   .Modal {
      width: 400px;
   }
}

@media screen and (min-width: 1280px) {
   .Modal {
      width: 460px;
   }
}