@import "normalize.css";

body {
   margin: 120px 0 0 0 !important;
   font-family: 'Comfortaa', cursive;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-image: linear-gradient(to bottom, #323663, #323663 80%, #83698C);
   background-attachment: fixed;

}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

p {
   margin: 0;
}